body{
  margin: 0;
  font-size: large;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top:0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#creatorbody{
  margin: auto;
  padding: 12px;
  border-right-style: solid;
  border-left-style: solid;
  border-width: thin;
  max-width: 960px;
}

.row{
  content: "";
  display: flex;
  justify-content: space-between;

}

table{
  width: 100%;
}

.full{
  table-layout: fixed;
}

.third{
  table-layout: auto;
  padding: 12px;
}

.third td{
  align-items: start;

}

.third td:nth-child(4){
  float: right;
}

.third td:nth-child(3){
  text-align: center;
}