body{
  margin: 0;
  font-size: large;
}

table{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top:0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#creatorbody{

  max-width: 960px;
  margin: auto;
}

.row{
  content: "";
  display: flex;
  justify-content: space-between;

}

table{
  width: 100%;
}

.full{
  table-layout: fixed;
}

.third{
  table-layout: auto;
}

.third td{
  align-items: start;

}

.third td:nth-child(4){
  float: right;
}

.third td:nth-child(3){
  text-align: center;
}